# Ignorar archivos generados por Visual Studio
.vs/

# Ignorar carpetas de compilación
bin/
obj/

# Ignorar archivos de configuración de usuario de Visual Studio
*.user
*.suo

# Ignorar otros archivos innecesarios
*.dbmdl
*.vscode
